@import "./vendors/_normalize";
@import "./abstract/varables";
@import "./abstract/functions";
@import "./abstract/mixins";
@import "./pages/home";
@import "./pages/servise";
@import "./pages/company";
@import "./pages/careers";
@import "./pages/career-inner";
@import "./pages/blog";
@import "./base/reset";
@import "./base/photography";
@import "./layout/footer";
@import "./layout/header";
@import "./components/buttons";

/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v23-latin-regular.woff2") format("woff2");
}
/* poppins-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v23-latin-500.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v23-latin-600.woff2") format("woff2");
}
