$site__color: #232536;
$c-secondary: #ffd3af;
$c-white: #ffffff;
$c-dark-blue: #444cfc;
$c-secondary-blue: #666dff;
$c-gray: #5d5f6d;
$c-white-blue: #ecf8f9;

// Font-weight
$fw-500: 500;
$fw-600: 600;

// Font-size
$fs-12: 1.2rem;
$fs-14: 1.4rem;
$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-24: 2.4rem;
$fs-36: 3.6rem;
$fs-48: 4.8rem;
$fs-56: 5.6rem;

// Line-height
$lh-20: 2rem;
$lh-24: 2.4rem;
$lh-28: 2.8rem;
$lh-36: 3.6rem;
$lh-54: 5.4rem;
$lh-58: 5.8rem;
$lh-68: 6.8rem;

// Gep
$g-32: 3.2rem;
$g-16: 1.6rem;
$g-12: 1.2rem;

// Margin
$mb-120: 12rem;
$mb-98: 9.8rem;
$mb-96: 9.7rem;
$mb-64: 6.4rem;
$mb-40: 4rem;
$mb-24: 2.4rem;
$mb-32: 3.2rem;
$mb-16: 1.6rem;

$mr-61: 6.1rem;

// padding
$p-96: 9.6rem;
$p-92: 9.2rem;
$p-80: 8rem;
$p-32: 3.2rem;
$p-29: 2.9rem;
$p-20: 2rem;
